      <div>
        <h2>User info</h2>
        <%= image_tag user.get_profile_image(100,100) %> 
        <table class="table">
          <tr>
            <th>name</th>
            <!--ユーザー名の切り替えについては要確認-->
            <td><%= user.name %></td>
          </tr>
          <tr>
            <th>introduction</th>
            <td><%= user.introduction %></td>
          </tr>
        </table>
        <div>
          <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        </div>
      </div>
      
      <div class="mt-2">
        <h2>New book</h2>
        <%= form_with model: book do |f| %>
          <p>Title</p>
            <%= f.text_field :title, class: "form-control book_title" %>
          <p>Opinion</p>
            <%= f.text_area :body, class: "form-control book_body" %>
          <div class="mt-2">
            <%= f.submit 'Create Book', class: "btn btn-sm btn-success" %>
          </div>
          
        <% end %>
      </div>