<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h2>Editing Book</h2>
      <div>
        <% if @books.errors.any? %>
          <h3><%= @books.errors.count %> errors prohibited this obj from being saved:</h3>
          <ul>
            <% @books.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <%= form_with model: @books do |f| %>
        <p>Title</p>
        <%= f.text_field :title %>
        <p>Opinion</p>
        <%= f.text_area :body %>
        <p>
        <%= f.submit 'Update Book',class: "btn btn-sm btn-success" %>
        </p>
      <% end %>
      <p>
        <span><%= link_to "Show", book_path(@books.id) %></span>
        |
        <span><%= link_to "Back", books_path %></span>
      </p>
    </div>
  </div>
</div>